html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-size: 16px;
}

@media (max-width: 980px) {
  html, body {
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  html, body {
    font-size: 6px;
  }
}

@media (max-width: 640px), (max-height: 700px) {
  html, body {
    overflow: auto;
  }
}

html, body, button {
  font-family: 'Montserrat', sans-serif;
}

ul, li, h1, h2, p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

#__next {
  width: 100%;
  height: 100%;
}
